
<h1>Create a filter</h1>
<% form_for @filter, :url => project_filters_path do |f| %>
<%= f.error_messages %>
<div>
  <%= f.label :from_user, "Twitter user name to block" %>
  <%= f.text_field :from_user %>
</div>

<div>
  <%= f.label :note %>
  <%= f.text_area :note %>
</div>
<%= f.submit "Save" %>
<% end %>