<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title><%= "#{@title} | " if @title %>Sweets</title>
  <meta name="description" content=""/>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <%= stylesheet_link_tag "reset", :media => 'all', :cache => 'true' %>
  <%= stylesheet_link_tag "style", :media => 'all', :cache => 'true' %>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.3/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script> 
  <script type="text/javascript" charset="utf-8">
    jQuery.ajaxSetup({
      data: { authenticity_token: '<%= form_authenticity_token %>' }
    });
  </script>
</head>
<body id="<%= body_id %>">
  <div id="page">
    <%= render :partial => 'layouts/flashes' -%>
    <%= yield %>
  </div> <!-- #page -->
</body>
</html>
